html {
    background-color: #fffffffb;
    color: rgb(70, 29, 117);
    height: 100vh;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.score-text:link {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
